:root {
    --blank: #fff;
    --brand-color: #6644AF;
    --dark-brand-color: #381D73;
    --text-primary: #2b2b2b;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

html {
    background: #F6F8FA;
}

/* Header */

header {
    background: var(--blank);
    height: 100px;
    width: 100vw;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 1328px;
}

header .container .alinhado-direita {
    display: flex;
    justify-content: flex-end;
}

header .container .alinhado-direita img {
    margin-right: 24px;
}

header .container .alinhado-direita img:last-child {
    margin-right: 0px;
}

#profile {
    height: 32px;
    width: 32px;
    border-radius: 50px;
}

/* Main */

main {
    padding: 80px 56px;
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* Botão buscar */

#buscar-cep {
    display: flex;
    width: 100%;
    height: 64px;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 24px;
}

#buscar-cep input {
    padding: 0 16px;
    height: 64px;
    width: 100%;
    border: none;
    font-size: 18px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    outline: none;
}

#buscar-cep input::placeholder {
    color: var(--text-primary);
}

#buscar-cep button {
    height: 64px;
    width: 64px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--brand-color);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

#buscar-cep button:hover {
    background: var(--dark-brand-color);
    transition: 0.8s;
}

/* Resultado da busca */

#resultado-busca {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    height: auto;
    border: none;
    border-radius: 8px;
    margin: 0 auto;
    padding: 16px;
    background: var(--blank);
}

#resultado-busca h1 {
    margin-bottom: 24px;
    font-size: 18px;
    font-weight: 800;
}

.resultado {
    display: flex;
    padding: 0 8px;
    margin-bottom: 16px;
}

.resultado:last-child {
    margin-bottom: 0px;
}

.resultado h2 {
    width: 80px;
    margin-right: 8px;
    font-size: 16px;
    font-weight: 500;
}

.resultado p {
    font-size: 16px;
    font-weight: 400;
}